In [49]:
import warnings
warnings.filterwarnings('ignore')

# 자연어 처리

### nltk 라이브러리 
- pip install nltk
- https://www.nltk.org/api/nltk.tokenize.html

In [2]:
# nltk 테스트
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\khkim\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
s = '''Good muffins cost $3.88\nin New York.  Please buy me two of them.\n\nThanks.'''
print(word_tokenize(s))

['Good', 'muffins', 'cost', '$', '3.88', 'in', 'New', 'York', '.', 'Please', 'buy', 'me', 'two', 'of', 'them', '.', 'Thanks', '.']

In [4]:
from nltk.tokenize import wordpunct_tokenize
print(wordpunct_tokenize(s) )

['Good', 'muffins', 'cost', '$', '3', '.', '88', 'in', 'New', 'York', '.', 'Please', 'buy', 'me', 'two', 'of', 'them', '.', 'Thanks', '.']

In [5]:
from nltk.tokenize import WhitespaceTokenizer
print(list(WhitespaceTokenizer().span_tokenize(s)) )

[(0, 4), (5, 12), (13, 17), (18, 23), (24, 26), (27, 30), (31, 36), (38, 44), (45, 48), (49, 51), (52, 55), (56, 58), (59, 64), (66, 73)]

## 한글 데이터 로딩

In [6]:
with open('ml_datas/소나기.txt', 'r', encoding='utf-8') as f:
    text = f.read()
print(text[:200])

소년은 개울가에서 소녀를 보자 곧 윤 초시네 증손녀(曾孫女)딸이라는 걸 알 수
있었다. 소녀는 개울에다 손을 잠그고 물장난을 하고 있는 것이다. 서울서는 이런
개울물을 보지 못하기나 한 듯이.
벌써 며칠째 소녀는, 학교에서 돌아오는 길에 물장난이었다. 그런데, 어제까지 개울
기슭에서 하더니, 오늘은 징검다리 한가운데 앉아서 하고 있다.
소년은 개울둑에 앉아

## 특수기호 제거하기

In [7]:
import re

compile = re.compile("[^ ㄱ-ㅣ가-힣\.]+")
text = compile.sub('', text)
print(text[:200])

소년은 개울가에서 소녀를 보자 곧 윤 초시네 증손녀딸이라는 걸 알 수있었다. 소녀는 개울에다 손을 잠그고 물장난을 하고 있는 것이다. 서울서는 이런개울물을 보지 못하기나 한 듯이.벌써 며칠째 소녀는 학교에서 돌아오는 길에 물장난이었다. 그런데 어제까지 개울기슭에서 하더니 오늘은 징검다리 한가운데 앉아서 하고 있다.소년은 개울둑에 앉아 버렸다. 소녀가 비키기

In [8]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize

# sent_tokenize(text, language='english')
sentences = sent_tokenize(text)
print(sentences[:3])

['소년은 개울가에서 소녀를 보자 곧 윤 초시네 증손녀딸이라는 걸 알 수있었다.', '소녀는 개울에다 손을 잠그고 물장난을 하고 있는 것이다.', '서울서는 이런개울물을 보지 못하기나 한 듯이.벌써 며칠째 소녀는 학교에서 돌아오는 길에 물장난이었다.']

In [9]:
text.split('.')[:10]

['소년은 개울가에서 소녀를 보자 곧 윤 초시네 증손녀딸이라는 걸 알 수있었다',
 ' 소녀는 개울에다 손을 잠그고 물장난을 하고 있는 것이다',
 ' 서울서는 이런개울물을 보지 못하기나 한 듯이',
 '벌써 며칠째 소녀는 학교에서 돌아오는 길에 물장난이었다',
 ' 그런데 어제까지 개울기슭에서 하더니 오늘은 징검다리 한가운데 앉아서 하고 있다',
 '소년은 개울둑에 앉아 버렸다',
 ' 소녀가 비키기를 기다리자는 것이다',
 '요행 지나가는 사람이 있어 소녀가 길을 비켜 주었다',
 '다음 날은 좀 늦게 개울가로 나왔다',
 '이 날은 소녀가 징검다리 한가운데 앉아 세수를 하고 있었다']

### konlpy 라이브러리
- JDK 설치, JAVA_HOME 설정
- pip install --upgrade pip
- pip install JPype1-1.4.0-cp39-cp39-win_amd64.whl
- pip install konlpy
- 설치 참고 : https://konlpy.org/ko/latest/install/#id2
- 사용 방법 참고 : https://konlpy.org/ko/v0.6.0/c

In [10]:
from konlpy.tag import Twitter
twitter = Twitter()
words = []

for sentence in sentences:
    word = twitter.morphs(sentence)
    words.append(word)
print(words[:2])

D:\playgrd\ml_venv\lib\site-packages\konlpy\tag\_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

[['소년', '은', '개울가에서', '소녀', '를', '보자', '곧', '윤', '초시', '네', '증손녀', '딸', '이라는', '걸', '알', '수', '있었다', '.'], ['소녀', '는', '개울', '에다', '손', '을', '잠그고', '물장난', '을', '하고', '있는', '것', '이다', '.']]

In [11]:
from konlpy.tag import Hannanum
hannanum = Hannanum()

test_text = '나는 정말로 파이썬을 좋아한다.'

word = hannanum.morphs(test_text)

print(word)

['나', '는', '정말', '로', '파이썬', '을', '좋', '아', '하', 'ㄴ다', '.']

In [13]:
from konlpy.tag import Kkma
kkma = Kkma()

test_text = '나는 정말로 파이썬 프로그래밍을 좋아한다.'

word = kkma.morphs(test_text)

print(word)

['나', '는', '정말로', '파이', '썰', 'ㄴ', '프로그래밍', '을', '좋아하', 'ㄴ다', '.']

In [14]:
from konlpy.tag import Komoran
komoran = Komoran()

test_text = '나는 정말로 파이썬 프로그래밍을 좋아한다.'

word = komoran.morphs(test_text)

print(word)

['나', '는', '정말로', '파이썬', '프로그래밍', '을', '좋아하', 'ㄴ다', '.']

In [15]:
from konlpy.tag import Okt
okt = Okt()

test_text = '나는 정말로 파이썬 프로그래밍을 좋아한다.'

word = okt.morphs(test_text, stem=True)

print(word)

['나', '는', '정말로', '파이썬', '프로그래밍', '을', '좋아하다', '.']

In [17]:
from konlpy.tag import Twitter
twitter = Twitter()
test_text = '나는 정말로 파이썬 프로그래밍을 좋아한다.'

word = okt.morphs(test_text, stem=True)

print(word)

['나', '는', '정말로', '파이썬', '프로그래밍', '을', '좋아하다', '.']

In [18]:
twitter = Twitter()

def tw_tokenizer(text):
    tokens_ko = twitter.morphs(text, stem=True)
    return tokens_ko

word_tokens = tw_tokenizer(text)
print(word_tokens[:20])

['소년', '은', '개다', '소녀', '를', '보다', '곧', '윤', '초시', '네', '증손녀', '딸', '이라는', '걸', '알', '수', '있다', '.', '소녀', '는']

In [19]:
with open('ml_datas/stopword.txt', 'r', encoding='utf-8') as f:
    word = f.read()
stopwords = word.split('\n')
print(stopwords[:10])

['않다', '되어다', '되다', '하다', '어떻다', '이렇다', '이다', '어제', '매일', '아']

In [23]:
filter_words = []
for word in word_tokens:
    if word not in stopwords:
        filter_words.append(word)
print(filter_words[:20])

['소년', '은', '개다', '소녀', '보다', '윤', '초시', '증손녀', '딸', '이라는', '걸', '알', '수', '.', '소녀', '는', '개울', '에다', '손', '잠그다']

## TF-IDF feature 벡터화

### RfidBectorizer 객체 전달 인자
- min_df=2: 단어가 나타나는 최소 문서 빈도를 2로 설정, 즉, 최소한 2개 이상의 문서에 등장 하는 단어만을 고려함
- tokenizer = ok_tokenizer: 사용자 정의 토크 나이저인 ok_tokenizer 지정함 텍스트를 단어 단위로 분할하는 역할을 수행
- stop_words = stopwords: 불용어 목록인 stopwords를 지정하여 텍스트에서 제거할 단어들을 설정함
- ngram_range=(1, 2): 단어의 n-gram 범위를 1부터 2로 설정함. 단어의 단일 토큰과 2개의 연속된 단어로 구성된 토큰을 모두 고려한다는 의미

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

# cnt_vect = CountVectorizer(tokenizer = tw_tokenizer, 
#                            stop_words = stopwords)
# cnt_vect = CountVectorizer(stop_words = stopwords)
cnt_vect = CountVectorizer()
cnt_vect.fit(sentences)
words_cnt_vect = cnt_vect.transform(sentences)
print(words_cnt_vect)

  (0, 58)	1
  (0, 574)	1
  (0, 675)	1
  (0, 680)	1
  (0, 722)	1
  (0, 1045)	1
  (0, 1093)	1
  (1, 62)	1
  (1, 96)	1
  (1, 512)	1
  (1, 670)	1
  (1, 703)	1
  (1, 955)	1
  (1, 984)	1
  (1, 1124)	1
  (2, 171)	1
  (2, 346)	1
  (2, 388)	1
  (2, 471)	1
  (2, 489)	1
  (2, 513)	1
  (2, 551)	1
  (2, 578)	1
  (2, 658)	1
  (2, 670)	1
  :	:
  (174, 105)	1
  (174, 147)	1
  (174, 198)	1
  (174, 308)	1
  (174, 664)	1
  (174, 780)	1
  (174, 816)	1
  (174, 851)	1
  (174, 920)	1
  (174, 1048)	1
  (174, 1094)	1
  (175, 165)	1
  (175, 185)	1
  (175, 293)	1
  (175, 433)	1
  (175, 502)	1
  (175, 780)	1
  (175, 884)	1
  (175, 912)	1
  (175, 953)	1
  (175, 971)	1
  (175, 972)	1
  (175, 1037)	1
  (175, 1038)	1
  (175, 1165)	1

In [30]:
words_cnt_vect.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(tokenizer = tw_tokenizer, 
                           stop_words = stopwords)
tfidf_vect.fit(sentences)
words_tfidf_vect = tfidf_vect.transform(sentences)
words_tfidf_vect

<177x845 sparse matrix of type '<class 'numpy.float64'>'
	with 2050 stored elements in Compressed Sparse Row format>

## 국민 청원 수집 데이터

In [32]:
import pandas as pd

df = pd.read_csv('ml_datas/petition.csv')
df.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  object
 2   end         395547 non-null  object
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: int64(3), object(5)
memory usage: 24.1+ MB

In [34]:
df = df.sample(frac=0.01, random_state=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3955 entries, 356947 to 5539
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article_id  3955 non-null   int64
 1   start       3955 non-null   object
 2   end         3955 non-null   object
 3   answered    3955 non-null   int64
 4   votes       3955 non-null   int64
 5   category    3955 non-null   object
 6   title       3955 non-null   object
 7   content     3955 non-null   object
dtypes: int64(3), object(5)
memory usage: 278.1+ KB

In [35]:
df['category'].unique()

array(['정치개혁', '외교/통일/국방', '경제민주화', '기타', '육아/교육', '안전/환경', '보건복지', '일자리',
       '인권/성평등', '문화/예술/체육/언론', '성장동력', '교통/건축/국토', '미래', '행정', '반려동물',
       '저출산/고령화대책', '농산어촌'], dtype=object)

In [44]:
from sklearn.preprocessing import LabelEncoder

df_data = df.loc[:, ['content', 'category']]

lb_enc = LabelEncoder()
df_data['category'] = lb_enc.fit_transform(df_data.loc[:, 'category'])
df_data.head()

                                                  content  category
356947  언제까지 국회의원들의 무능에 한탄만 하고 있겠습니까?\n국민의 뜻이라 변명하는 국회...        15
284969  군면제 대상들의 서류를 미성년자도 아닌데 형제,남매꺼 까지 통장내역서 월급내역서 등...        10
389760  국민연금으로 국유화( 대한항공)즉 주식개입(국민연금)으로 국가입맛에 맞는 기업정관을...         0
388934  저는 산재사고로 장애6급판정을 받았습니다.\n상완신경총 손상으로 오른쪽팔중 어깨,팔...         2
27900                           조두순 출소 반대 합니다.\n무기징역으로...        11

In [37]:
import re

def cleaner(text):
    compile = re.compile('[^ ㄱ-ㅣ가-힣]+')
    text = compile.sub('', text)
    return text

In [45]:
df_data['content'] = df_data.loc[:, 'content'].apply(cleaner)

In [46]:
df_data['content'] = df_data.loc[:, 'content'].apply(lambda x: compile.sub('', x))

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_data['content'], 
                                                    df_data['category'], 
                                                    test_size = 0.2, 
                                                    random_state = 0)
print(len(X_train), len(X_test))

3164 791

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

cnt_vect = CountVectorizer(tokenizer=tw_tokenizer,
                           stop_words = stopwords)
cnt_vect.fit(X_train)
X_train_cnt_vect = cnt_vect.transform(X_train)
X_test_cnt_vect = cnt_vect.transform(X_test)

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(tokenizer = tw_tokenizer,
                           stop_words = stopwords)

tfidf_vect.fit(X_train)
X_train_tfidf_vect = tfidf_vect.transform(X_train)
X_test_tfidf_vect = tfidf_vect.transform(X_test)

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_clf = RandomForestClassifier(n_estimators= 200)
rf_clf.fit(X_train_cnt_vect, y_train)
pred = rf_clf.predict(X_test_cnt_vect)
print('Countvecterizer 정확도 :',accuracy_score(y_test, pred))

Countvecterizer 정확도 : 0.4197218710493047

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_clf = RandomForestClassifier(n_estimators= 200, random_state = 0)
rf_clf.fit(X_train_tfidf_vect, y_train)
pred = rf_clf.predict(X_test_tfidf_vect)
print('TfidfVectorizer 정확도 :',accuracy_score(y_test, pred))

TfidfVectorizer 정확도 : 0.42098609355246525

In [55]:
import pandas as pd

review_df = pd.read_csv('ml_datas/labeledTrainData.tsv', header = 0, sep='\t', quoting = 3)

review_df.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [56]:
review_df['review'] = review_df['review'].str.replace('<br />','')
review_df['review'] = review_df['review'].apply(lambda x : re.sub('[^ a-zA-Z]','',x))
review_df.head()

         id  sentiment                                             review
0  "5814_8"          1  With all this stuff going down at the moment w...
1  "2381_9"          1  The Classic War of the Worlds by Timothy Hines...
2  "7759_3"          0  The film starts with a manager Nicholas Bell g...
3  "3630_4"          0  It must be assumed that those who praised this...
4  "9495_8"          1  Superbly trashy and wondrously unpretentious s...

In [57]:
from sklearn.model_selection import train_test_split

class_df = review_df['sentiment']
feature_df = review_df['review']

X_train,X_test,y_train,y_test = train_test_split(feature_df, class_df, test_size=0.3, random_state=156)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score

pipeline = Pipeline([
    ('cnt_vect', CountVectorizer(stop_words = 'english', ngram_range=(1,2))),
    ('lr_clf', LogisticRegression(solver = 'liblinear', C = 10))
])

In [59]:
pipeline.fit(X_train, y_train)
pred = pipeline.predict(X_test)

print(accuracy_score(y_test, pred), roc_auc_score(y_test, pred))

0.8848 0.884744906669702

In [60]:
import nltk
nltk.download('sentiwordnet')

[nltk_data] Downloading package sentiwordnet to
[nltk_data]     C:\Users\khkim\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\sentiwordnet.zip.

True

In [61]:
from nltk.corpus import wordnet as wn

def penn_to_wn(tag):
    if tag.startswith('J'):
        return wn.ADJ
    elif tag.startswith('N'):
        return wn.NOUN
    elif tag.startswith('R'):
        return wn.ADV
    elif tag.startswith('V'):
        return wn.VERB
    return 


from nltk.stem import WordNetLemmatizer
from nltk.corpus import sentiwordnet as swn
from nltk import sent_tokenize, word_tokenize, pos_tag

def swn_polarity(text):
    sentiment = 0.0
    tokens_count = 0
    
    lemmatizer = WordNetLemmatizer()
    raw_sentences = sent_tokenize(text)
    for raw_sentence in raw_sentences:
        tagged_sentence = pos_tag(word_tokenize(raw_sentence))
        for word , tag in tagged_sentence:
            
            wn_tag = penn_to_wn(tag)
            if wn_tag not in (wn.NOUN , wn.ADJ, wn.ADV):
                continue                   
            lemma = lemmatizer.lemmatize(word, pos=wn_tag)
            if not lemma:
                continue
            synsets = wn.synsets(lemma , pos=wn_tag)
            if not synsets:
                continue
            synset = synsets[0]
            swn_synset = swn.senti_synset(synset.name())
            sentiment += (swn_synset.pos_score() - swn_synset.neg_score())           
            tokens_count += 1
    
    if not tokens_count:
        return 0

    if sentiment >= 0 :
        return 1
    
    return 0